/.qsys_edit/
/.vscode/
/db/
/incremental_db/
/JPEG_SoC/
/JPEG_SoC_Eclipse/
/output_files/
/simulation/
*.qws
*.bsf
*.cmp
*.html
*.rpt
*.log
*.jdi
*.sof
*.smsg
*.summary
*.pin
*.done
*.bak

/software/.metadata/
/software/__pycache__/
/software/generated/*
!/software/generated/
!/software/generated/output.jpg
/software/input.raw

/software/cpu_*/obj/
/software/cpu_*/cpu_*.elf
/software/cpu_*/cpu_*.map
/software/cpu_*/cpu_*.objdump
/software/cpu_*/*.d

/software/cpu_*_bsp/obj/
*.pyc
